@import url(reset.css);

* {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}